# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build output
# =========================
dist/
build/
coverage/
*.tsbuildinfo

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# IDEs
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# Testing
# =========================
coverage/
.nyc_output/

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# Miscellaneous
# =========================
*.tmp
*.temp
.cache/
requestly/